/* CSS Document */
#wrap{
	background-color:#00FF00;

#hiconnect > hr {
	border:1px solid #C3C3C3;
	margin-top:30px;
}

#hiconnect > br {
	margin-top:20px;
}

#hiconnect > .textBox {
	width:200px;
}

<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
-->
table.reference {
	background-color: #FFFFFF;
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
}
table.reference th{
	border: 1px solid #C3C3C3;
	background-color:#676767;
	color:#FFFFFF;
	font-weight:bold;
}
table.reference tr {
	border: 1px solid #C3C3C3;

}
table.reference td {
	border: 1px solid #C3C3C3;
	vertical-align: top;
	padding-left:5px;
	text-align:left;
}