.google_plus_stream_plugin_container {
    margin-top:10px;
    display:inline-block;
}

.google_plus_stream_plugin_header_container {
    border-bottom: 1px solid;
    text-align: center;
    margin-bottom: 3px;
    margin-top:10px;
    display:inline-block;
}

.google_plus_stream_plugin_profile_container {
    vertical-align: middle;
}

.google_plus_stream_plugin_profile_container > a > img {
    width:32px;
}

.google_plus_stream_plugin_profile_container > span {
    width:100%;
    height:32px;
    vertical-align: middle;
    font-size: 0.8em;
    text-align: center;
    float:left;
    margin-top:-28px;
}

.google_plus_stream_plugin_streams_container {
}

.google_plus_stream_plugin_streams_container > span {
    font-size: 0.9em;
    padding-left: 3px;
    text-align: justify;
}

.google_plus_stream_plugin_streams_container > hr {
    width:75%;
    margin-top:10px;
}

.google_plus_stream_plugin_title {
    font-weight: bold;
}

.google_plus_stream_plugin_post_date {
    color: #999 !important;
    font-family: arial, sans-serif ! important;
    font-style: normal !important;
    font-weight: normal !important;
}

.google_plus_stream_plugin_stream_post {
    padding-top: 5px;
}

.google_plus_stream_plugin_stream_hidden {
    display: none;
    overflow-x: auto;
    margin-bottom: 3px;
    margin-top:5px;
}