.bpstd-extra2{
	margin-top: 20px;
}
.bpstd-extra2 h3{
	font-size: 32px;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 5px;
}
div.item-list-tabs ul li.last{
	margin-right: 40px;
}
#members-list li{ 
	list-style: none;
}